<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edittor</title>
</head>
<body>
    <h1>TODO編集</h1>
    <form method="POST" action="/home/<%= shows.id %>?_method=PATCH">
        <input type="text" name="task" value="<%= shows.task %>">
        <input type="date" name="deadline" value="<%= shows.deadline %>">
        <button type="submit">更新</button>
    </form>
    <a href="/home">キャンセル</a>
</body>
</html>

